# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Selenium Test with PyTest

on:
  workflow_dispatch:
    inputs:
      test_env:
        description: Select the Env to run
        type: choice
        default: saucedemo
        options:
          - saucedemo
      browser:
        description: The browser to run test
        type: choice
        default: chrome
        options:
          - chrome
          - firefox
# To allow only one run at a time based on the env it runs in
concurrency:
  group: 'selenium-test-${{github.event.inputs.test_env}}-${{github.event.inputs.browser}}'
  cancel-in-progress: false

permissions: # 全局权限配置
  contents: write # 允许读写仓库内容（用于推送代码）
  issues: write   # 允许操作Issues（创建/编辑）
  pull-requests: read # 仅允许读取PR信息

jobs:
  selenium_test:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    continue-on-error: true
#    container: selenium/standalone-chrome-for-testing:nightly

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.14
      uses: actions/setup-python@v3
      with:
        python-version: "3.14"
    - name: Install software
      run: sudo apt-get install -y chromium-browser
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Write the .env file from GitHub secret
      run: |
          echo '${{ secrets.PYTEST_ENV_CI }}' > .env
    - name: Configure Test Env and Browser
      env:
        TEST_ENV: "saucedemo"
        BROWSER: "chrome"
      run: |
        echo "TEST_ENV=${{ github.event.inputs.test_env || env.DEFAULT_TEST_ENV }}" >> $GITHUB_ENV
        echo "BROWSER=${{ github.event.inputs.browser || env.BROWSER }}" >> $GITHUB_ENV
      
    - name: Test with pytest
      continue-on-error: true
      run: |
        pytest tests --browser ${{env.BROWSER}} -n 2

    - name: Load Allure test report history
      uses: actions/checkout@v4
      if: always()
      continue-on-error: true
      with:
        ref: gh-pages
        path: gh-pages-dir
    - name: Generate Allure test report
      uses: andgineer/allure-report@v3.5
      id: allure-report
      if: always()
      with:
        allure-results: allure-results
        website: gh-pages-dir
        reports-site-path: builds/tests
        report-page: behaviors
    - name: Publish Allure test report
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ always() && (steps.allure-report.outcome == 'success') }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: ${{ steps.allure-report.outputs.reports-site }}
        destination_dir: ${{ steps.allure-report.outputs.reports-site-path }}
